In [2]:
import os

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lucky\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\lucky\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lucky\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\lucky\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\lucky\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd

In [167]:
data = pd.read_csv('C:\\Users\\lucky\\Downloads\\Pharma_data_analysis_cleaned(1).csv')

In [8]:
os.getcwd()

'C:\\Users\\lucky'

In [17]:
data

,Distributor,Customer Name,City,Country,Latitude,Longitude,Channel,Sub-channel,Product Name,Product Class,Quantity,Price,Sales,Month,Year,Name of Sales Rep,Manager,Sales Team
0,Gottlieb-Cruickshank,"Zieme, Doyle and Kunze",Lublin,Poland,51.2333,22.5667,Hospital,Private,Topipizole,Mood Stabilizers,4.0,368,1472.0,January,2018,Mary Gerrard,Britanny Bold,Delta
1,Gottlieb-Cruickshank,Feest PLC,Åšwiecie,Poland,53.4167,18.4333,Pharmacy,Retail,Choriotrisin,Antibiotics,7.0,591,4137.0,January,2018,Jessica Smith,Britanny Bold,Delta
2,Gottlieb-Cruickshank,Medhurst-Beer Pharmaceutical Limited,Rybnik,Poland,50.0833,18.5000,Pharmacy,Institution,Acantaine,Antibiotics,30.0,66,1980.0,January,2018,Steve Pepple,Tracy Banks,Bravo
3,Gottlieb-Cruickshank,Barton Ltd Pharma Plc,CzeladÅº,Poland,50.3333,19.0833,Hospital,Private,Lioletine Refliruvax,Analgesics,6.0,435,2610.0,January,2018,Mary Gerrard,Britanny Bold,Delta
4,Gottlieb-Cruickshank,Keeling LLC Pharmacy,Olsztyn,Poland,53.7800,20.4942,Pharmacy,Retail,Oxymotroban Fexoformin,Analgesics,20.0,458,9160.0,January,2018,Anne Wu,Britanny Bold,Delta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254077,Bashirian-Kassulke,"Koch, Borer and Hagenes Pharmaceutical Ltd",Lauf,Germany,49.5103,11.2772,Hospital,Private,Pentastrin,Antibiotics,919.0,497,456743.0,December,2020,Thompson Crawford,James Goodwill,Alfa
254078,Bashirian-Kassulke,Hane Ltd Pharmaceutical Ltd,Aichach,Germany,48.4500,11.1333,Hospital,Private,Abranatal Lysoprosate,Antiseptics,432.0,681,294192.0,December,2020,Anne Wu,Britanny Bold,Delta
254079,Bashirian-Kassulke,Harris-Conroy Pharmacy,Wilhelmshaven,Germany,53.5167,8.1333,Pharmacy,Retail,Adideine,Mood Stabilizers,320.0,678,216960.0,December,2020,Abigail Thompson,Tracy Banks,Bravo
254080,Bashirian-Kassulke,Balistreri Group Pharm,BÃ¶blingen,Germany,48.6833,9.0000,Hospital,Government,Feruprazole,Mood Stabilizers,565.0,115,64975.0,December,2020,Stella Given,Alisha Cordwell,Charlie
254081,Bashirian-Kassulke,"Heathcote, Kovacek and Parker",Hof,Germany,50.3167,11.9167,Pharmacy,Retail,Feruprazole,Mood Stabilizers,1080.0,115,124200.0,December,2020,Alan Ray,James Goodwill,Alfa

In [ ]:
Q1. Retrieve all columns for all records in the dataset.

In [21]:
data

,Distributor,Customer Name,City,Country,Latitude,Longitude,Channel,Sub-channel,Product Name,Product Class,Quantity,Price,Sales,Month,Year,Name of Sales Rep,Manager,Sales Team
0,Gottlieb-Cruickshank,"Zieme, Doyle and Kunze",Lublin,Poland,51.2333,22.5667,Hospital,Private,Topipizole,Mood Stabilizers,4.0,368,1472.0,January,2018,Mary Gerrard,Britanny Bold,Delta
1,Gottlieb-Cruickshank,Feest PLC,Åšwiecie,Poland,53.4167,18.4333,Pharmacy,Retail,Choriotrisin,Antibiotics,7.0,591,4137.0,January,2018,Jessica Smith,Britanny Bold,Delta
2,Gottlieb-Cruickshank,Medhurst-Beer Pharmaceutical Limited,Rybnik,Poland,50.0833,18.5000,Pharmacy,Institution,Acantaine,Antibiotics,30.0,66,1980.0,January,2018,Steve Pepple,Tracy Banks,Bravo
3,Gottlieb-Cruickshank,Barton Ltd Pharma Plc,CzeladÅº,Poland,50.3333,19.0833,Hospital,Private,Lioletine Refliruvax,Analgesics,6.0,435,2610.0,January,2018,Mary Gerrard,Britanny Bold,Delta
4,Gottlieb-Cruickshank,Keeling LLC Pharmacy,Olsztyn,Poland,53.7800,20.4942,Pharmacy,Retail,Oxymotroban Fexoformin,Analgesics,20.0,458,9160.0,January,2018,Anne Wu,Britanny Bold,Delta
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254077,Bashirian-Kassulke,"Koch, Borer and Hagenes Pharmaceutical Ltd",Lauf,Germany,49.5103,11.2772,Hospital,Private,Pentastrin,Antibiotics,919.0,497,456743.0,December,2020,Thompson Crawford,James Goodwill,Alfa
254078,Bashirian-Kassulke,Hane Ltd Pharmaceutical Ltd,Aichach,Germany,48.4500,11.1333,Hospital,Private,Abranatal Lysoprosate,Antiseptics,432.0,681,294192.0,December,2020,Anne Wu,Britanny Bold,Delta
254079,Bashirian-Kassulke,Harris-Conroy Pharmacy,Wilhelmshaven,Germany,53.5167,8.1333,Pharmacy,Retail,Adideine,Mood Stabilizers,320.0,678,216960.0,December,2020,Abigail Thompson,Tracy Banks,Bravo
254080,Bashirian-Kassulke,Balistreri Group Pharm,BÃ¶blingen,Germany,48.6833,9.0000,Hospital,Government,Feruprazole,Mood Stabilizers,565.0,115,64975.0,December,2020,Stella Given,Alisha Cordwell,Charlie
254081,Bashirian-Kassulke,"Heathcote, Kovacek and Parker",Hof,Germany,50.3167,11.9167,Pharmacy,Retail,Feruprazole,Mood Stabilizers,1080.0,115,124200.0,December,2020,Alan Ray,James Goodwill,Alfa

In [ ]:
Q2.How many unique countries are represented in the dataset?

In [29]:
data['Country'].nunique()

2

In [ ]:
Q3. Select the names of all the customers on the 'Retail' channel.

In [31]:
data[data['Sub-channel'] == 'Retail']['Customer Name']

1                                     Feest PLC
4                           Keeling LLC Pharmacy
6                 Blick, Pacocha and Schowalter
7                          Leuschke PLC Pharmacy
13        McClure, Zemlak and Dibbert Pharma Plc
                           ...
254070                               Paucek PLC
254072                    Walsh-Brown Pharma Plc
254075    Schinner, Gaylord and Treutel Pharmacy
254079                    Harris-Conroy Pharmacy
254081            Heathcote, Kovacek and Parker
Name: Customer Name, Length: 68351, dtype: object

In [ ]:
Q4. Find the total quantity sold for the 'Antibiotics' product class.

In [35]:
data[data['Product Class'] == 'Antibiotics']['Quantity'].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 1           7.0
2          30.0
22          5.0
34          5.0
39          4.0
          ...
254064     43.0
254066    120.0
254072     10.0
254074     48.0
254077    919.0
Name: Quantity, Length: 36979, dtype: float64>

In [ ]:
Q5. List all the distinct months present in the dataset.

In [40]:
data['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [ ]:
Q6. Calculate the total sales for each year.

In [45]:
data.groupby(['Year'])['Sales'].sum()

Year
2017    2.701481e+09
2018    3.506897e+09
2019    2.930937e+09
2020    2.659672e+09
Name: Sales, dtype: float64

In [ ]:
Q7. Find the customer with the highest sales value.

In [79]:
data.groupby(['Customer Name'])['Sales'].idxmax().nlargest(1)

Customer Name
Reinger, Kihn and Goyette Pharmaceutical Limited    254073
Name: Sales, dtype: int64

In [70]:
data.[data.['Sales'].idxmax(), 'Customer Name']

'Mraz-Kutch Pharma Plc'

In [ ]:
Q8. Get the names of all employees who are Sales Reps and are managed by 'James Goodwill'.

In [82]:
data[data['Manager'] == 'James Goodwill']['Name of Sales Rep']

5         Thompson Crawford
10              Erica Jones
19                 Alan Ray
35              Erica Jones
39                 Alan Ray
                ...
254067          Erica Jones
254072    Thompson Crawford
254074             Alan Ray
254077    Thompson Crawford
254081             Alan Ray
Name: Name of Sales Rep, Length: 58705, dtype: object

In [ ]:
Q9. Retrieve the top 5 cities with the highest sales.

In [87]:
data.groupby('City')['Sales'].sum().nlargest(5)

City
Butzbach      93561780.0
Baesweiler    64890501.0
Cuxhaven      56006680.0
Friedberg     52183634.6
Altenburg     50885320.0
Name: Sales, dtype: float64

In [ ]:
Q10. Calculate the average price of products in each sub-channel.

In [97]:
data.groupby('Sub-channel')['Price'].mean()

Sub-channel
Government     413.149440
Institution    411.954398
Private        410.718371
Retail         412.807040
Name: Price, dtype: float64

In [ ]:
Q11. Retrieve all sales made by employees from ' Rendsburg ' in the year 2018.

In [110]:
data[(data['City'] == 'Rendsburg') & (data['Year'] == 2018)]

,Distributor,Customer Name,City,Country,Latitude,Longitude,Channel,Sub-channel,Product Name,Product Class,Quantity,Price,Sales,Month,Year,Name of Sales Rep,Manager,Sales Team
97119,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Pulmofine,Antibiotics,6.0,688,4128.0,January,2018,Jessica Smith,Britanny Bold,Delta
97776,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Ceftatana Serolamide,Antipiretics,1.0,595,595.0,January,2018,Daniel Gates,Alisha Cordwell,Charlie
98112,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Ultrimax Ultriset,Antiseptics,10.0,269,2690.0,January,2018,Alan Ray,James Goodwill,Alfa
98263,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Interfestar,Antibiotics,2.0,62,124.0,January,2018,Sheila Stones,Britanny Bold,Delta
98970,Koss,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Propralamide Dexlanzolam,Mood Stabilizers,180.0,391,70380.0,January,2018,Thompson Crawford,James Goodwill,Alfa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147335,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Hydroxyprosyn,Antibiotics,72.0,220,15840.0,November,2018,Daniel Gates,Alisha Cordwell,Charlie
148626,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Lioletine Refliruvax,Analgesics,10.0,435,4350.0,December,2018,Sheila Stones,Britanny Bold,Delta
148654,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Thionide,Analgesics,10.0,113,1130.0,December,2018,Stella Given,Alisha Cordwell,Charlie
149425,Koss,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Effidomide Evofribrate,Antiseptics,480.0,612,293760.0,December,2018,Anne Wu,Britanny Bold,Delta
149581,Gerlach LLC,Barton Ltd Pharm,Rendsburg,Germany,54.3044,9.6644,Pharmacy,Institution,Menogine,Antiseptics,20.0,742,14840.0,December,2018,Sheila Stones,Britanny Bold,Delta

In [ ]:
Q12. Calculate the total sales for each product class,for each month, and order the
results by year, month, and product class.

In [113]:
data.groupby([data['Year'], data['Month'], 'Product Class'])['Sales'].sum().reset_index().sort_values(by=['Product Class'])

     Year      Month     Product Class       Sales
0    2017      April        Analgesics  32223716.0
264  2020        May        Analgesics  37032714.0
126  2018   November        Analgesics  56944104.0
120  2018        May        Analgesics  40077467.0
114  2018      March        Analgesics  60251984.0
..    ...        ...               ...         ...
149  2019      April  Mood Stabilizers  32274897.0
137  2018    October  Mood Stabilizers  64199749.0
131  2018   November  Mood Stabilizers  51599024.0
119  2018      March  Mood Stabilizers  73277993.0
287  2020  September  Mood Stabilizers  43643444.0

[288 rows x 4 columns]

In [ ]:
Q14. Find the top 3 sales reps with the highest sales in 2019.

In [120]:
data[data['Year'] == 2019].groupby('Name of Sales Rep')['Sales'].sum().nlargest(3)

Name of Sales Rep
Jimmy Grey       3.105511e+08
Sheila Stones    2.669244e+08
Daniel Gates     2.453639e+08
Name: Sales, dtype: float64

In [ ]:
Q15. Calculate the monthly total sales for each sub-channel, and then calculate the
average monthly sales for each sub-channel over the years.

In [131]:
df=data.groupby(['Sub-channel'])['Sales'].sum().reset_index()

In [132]:
df

   Sub-channel         Sales
0   Government  3.058240e+09
1  Institution  2.875215e+09
2      Private  2.522435e+09
3       Retail  3.343097e+09

In [133]:
df.groupby(['Sub-channel'])['Sales'].sum().mean()

2949746910.5488544

In [ ]:
Q16. Create a summary report that includes the total sales, average price, and total
quantity sold for each product class.

In [138]:
data.groupby('Product Class').agg({'Sales': 'sum', 'Price': 'mean', 'Quantity': 'sum'})

                         Sales       Price      Quantity
Product Class
Analgesics        2.371515e+09  432.571071  5.553144e+06
Antibiotics       1.750277e+09  419.671057  4.154322e+06
Antimalarial      1.497455e+09  337.667208  4.249075e+06
Antipiretics      1.883306e+09  469.047680  4.052544e+06
Antiseptics       2.237525e+09  412.396699  5.499913e+06
Mood Stabilizers  2.058910e+09  400.493353  5.169781e+06

In [ ]:
Q17. Find the top 5 customers with the highest sales for each year

In [148]:
data.groupby([data['Year'], 'Customer Name'])['Sales'].sum().groupby(level=0, group_keys=False).nlargest(5)

Year  Customer Name
2017  Wiegand, Jast and Yost Pharmaceutical Ltd                      20947974.0
      Raynor-Graham                                                  20691892.0
      Fadel-West Pharmaceutical Ltd                                  19381932.0
      Kuphal, Herzog and Purdy                                       16707639.0
      Leannon-West Pharmaceutical Limited                            16639689.0
2018  Barrows, Zboncak and Reichert Pharm                            22713841.0
      Zemlak Group Pharm                                             20691357.0
      Watsica, Larson and Labadie Pharmaceutical Ltd                 20200981.0
      Senger-Kirlin Pharmaceutical Ltd                               19949284.0
      McDermott Inc Pharmacy                                         19511107.0
2019  Mraz-Kutch Pharma Plc                                          76494324.0
      Zemlak-Witting                                                 36611325.0
      Streich PLC                                                    31116982.0
      Gleichner, Bahringer and Morar Pharmaceutical Limited          27011286.0
      Prohaska, Bogisich and Gutkowski Pharmaceutical Limited        26786242.0
2020  Parker, Green and Emmerich Pharma Plc                          51565996.0
      Torphy, Pfeffer and Jakubowski Pharm                           27598295.0
      Stehr-Champlin Pharmacy                                        26698534.0
      Runolfsson, Swaniawski and Jaskolski Pharmaceutical Limited    25132379.0
      Goldner-Tillman Pharm                                          24981248.0
Name: Sales, dtype: float64

In [ ]:
Q18. Calculate the year-over-year growth in sales for each country.

In [150]:
data.groupby(['Country', data.Year])['Sales'].sum().unstack().pct_change(axis=1)

Year     2017      2018      2019      2020
Country
Germany   NaN  0.046099  0.037126 -0.092552
Poland    NaN       NaN  0.000000  0.000000

In [ ]:
19. List the months with the lowest sales for each year

In [153]:
data.groupby([data.Year, data.Month])['Sales'].sum().groupby(level=0, group_keys=False).nsmallest(1)

Year  Month
2017  January     151872184.0
2018  December    214882167.0
2019  January      97664076.0
2020  April       135409908.0
Name: Sales, dtype: float64

In [ ]:
Q20. Calculate the total sales for each sub-channel in each country, and then find the
country with the highest total sales for each sub-channel.

In [164]:
TS=data.groupby(['Sub-channel', 'Country'])['Sales'].sum().reset_index()
TS

   Sub-channel  Country         Sales
0   Government  Germany  2.920913e+09
1   Government   Poland  1.373269e+08
2  Institution  Germany  2.719605e+09
3  Institution   Poland  1.556101e+08
4      Private  Germany  2.315302e+09
5      Private   Poland  2.071333e+08
6       Retail  Germany  3.162287e+09
7       Retail   Poland  1.808096e+08

In [166]:
TS.loc[TS.groupby('Sub-channel')['Sales'].idxmax()]

   Sub-channel  Country         Sales
0   Government  Germany  2.920913e+09
2  Institution  Germany  2.719605e+09
4      Private  Germany  2.315302e+09
6       Retail  Germany  3.162287e+09

In [158]:
data.groupby(['Sub-channel','Country'])['Sales'].sum().idxmax()

('Retail', 'Germany')